[Unit]
Description=Execute task on boot

[Timer]
OnBootSec=30
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=novarewind-weekly.service

[Install]
WantedBy=timers.target
